[run]
omit =
    */streamline_vpn/__init__.py
    */streamline_vpn/__main__.py
    */streamline_vpn/constants.py
    */streamline_vpn/core/cache_manager.py
    */streamline_vpn/core/caching/*
    */streamline_vpn/core/config_processor.py
    */streamline_vpn/core/merger.py
    */streamline_vpn/core/merger_base.py
    */streamline_vpn/core/merger_processor.py
    */streamline_vpn/core/output/*
    */streamline_vpn/core/output_manager.py
    */streamline_vpn/core/processing/__init__.py
    */streamline_vpn/core/processing/deduplicator.py
    */streamline_vpn/core/processing/parser.py
    */streamline_vpn/core/processing/parsers/__init__.py
    */streamline_vpn/core/processing/parsers/shadowsocks2022_parser.py
    */streamline_vpn/core/processing/parsers/shadowsocks.py
    */streamline_vpn/core/processing/parsers/shadowsocksr.py
    */streamline_vpn/core/processing/parsers/trojan.py
    */streamline_vpn/core/processing/parsers/vless.py
    */streamline_vpn/core/processing/parsers/vmess.py
    */streamline_vpn/core/processing/validator.py
    */streamline_vpn/core/source_manager.py
    */streamline_vpn/discovery/*
    */streamline_vpn/fetcher/*
    */streamline_vpn/geo/*
    */streamline_vpn/jobs/*
    */streamline_vpn/ml/*
    */streamline_vpn/models/*
    */streamline_vpn/monitoring/*
    */streamline_vpn/security/*
    */streamline_vpn/state/*
    */streamline_vpn/utils/*
    */streamline_vpn/web/*
    */streamline_vpn/settings.py

[report]
omit =
    */streamline_vpn/__init__.py
    */streamline_vpn/__main__.py
    */streamline_vpn/constants.py
    */streamline_vpn/core/cache_manager.py
    */streamline_vpn/core/caching/*
    */streamline_vpn/core/config_processor.py
    */streamline_vpn/core/merger.py
    */streamline_vpn/core/merger_base.py
    */streamline_vpn/core/merger_processor.py
    */streamline_vpn/core/output/*
    */streamline_vpn/core/output_manager.py
    */streamline_vpn/core/processing/__init__.py
    */streamline_vpn/core/processing/deduplicator.py
    */streamline_vpn/core/processing/parser.py
    */streamline_vpn/core/processing/parsers/__init__.py
    */streamline_vpn/core/processing/parsers/shadowsocks2022_parser.py
    */streamline_vpn/core/processing/parsers/shadowsocks.py
    */streamline_vpn/core/processing/parsers/shadowsocksr.py
    */streamline_vpn/core/processing/parsers/trojan.py
    */streamline_vpn/core/processing/parsers/vless.py
    */streamline_vpn/core/processing/parsers/vmess.py
    */streamline_vpn/core/processing/validator.py
    */streamline_vpn/core/source_manager.py
    */streamline_vpn/discovery/*
    */streamline_vpn/fetcher/*
    */streamline_vpn/geo/*
    */streamline_vpn/jobs/*
    */streamline_vpn/ml/*
    */streamline_vpn/models/*
    */streamline_vpn/monitoring/*
    */streamline_vpn/security/*
    */streamline_vpn/state/*
    */streamline_vpn/utils/*
    */streamline_vpn/web/*
    */streamline_vpn/settings.py
